    
        h1{
            color:#aec8ff
        
        }

        h3 {
            color:#aec8ff 
    
        }

        h2 {
            color:#aec8ff
        }

        p {
            color:#aec8ff
        }

        p2 {
            color:#aec8ff
        }

        p3 {
            color:#aec8ff
        }

        body {
            background-image: url('images/darkblue.png');
        }

        
        .imghover a:hover
        {
            zoom: 150%;
        }
    